<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration Form</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
  <input type="text" th:field="*{firstName}" placeholder="First name">
  <br/>
  <input type="text" th:field="*{lastName}" placeholder="Last name">
  <br/>
  <select th:field="*{country}">
    <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>
  </select>
  <br/>
  <fieldset>
    <legend>Select your favourite programming language:</legend>
      <div th:each="language : ${languages}" class="radio-options">
        <input type="radio" th:field="*{favouriteLanguage}" th:id="${language}" th:value="${language}" name="language"/>
        <label th:for="${language}" th:text="${language}"/>
      </div>
  </fieldset>
  <br/>
  <input type="submit">
</form>
</body>
</html>